<%= render partial: "page_header", locals: { 
  title: { zh: "线下体验", en: "EXPERIENCE" }, 
  sub_title: { zh: "成都城北体验馆", en: "Store" },
  breadcrumb: { "线下体验" => "#", "成都" => "#", "城北体验馆" => "" }
} %>

<div class="layout">
  <div class="lCol">
    1312
  </div>
  <div class="main">
    123131
  </div>
</div>