<% content_for :before_wrapper do %>
  <div style="margin-top: 10px; height:300px; background:#f2f2f2;"></div>
<% end %>

<ul class="homeShow">
  <li>
    <div class="inner">
      <h2>
        <strong>产品推荐</strong>
        <span>recommended products</span>
      </h2>
      <%= image_tag "data:image/gif;base64,R0lGODlhAQABAIAAAP7" %>
      <p>
        朴素和奇妙的灵感，往往创造出永恒。 <br>
        不同系列，同一份精致。 <br>
        你想要的，这里都有。
      </p>
    </div>
  </li>
  <li>
    <div class="inner">
      <h2>
        <strong>品质生活</strong>
        <span>quality life</span>
      </h2>
      <%= image_tag "data:image/gif;base64,R0lGODlhAQABAIAAAP7" %>
      <p>
        朴素和奇妙的灵感，往往创造出永恒。 <br>
        不同系列，同一份精致。 <br>
        你想要的，这里都有。
      </p>
    </div>
  </li>
  <li>
    <div class="inner">
      <h2>
        <strong>活动信息</strong>
        <span>event information</span>
      </h2>
      <%= image_tag "data:image/gif;base64,R0lGODlhAQABAIAAAP7" %>
      <p>
        朴素和奇妙的灵感，往往创造出永恒。 <br>
        不同系列，同一份精致。 <br>
        你想要的，这里都有。
      </p>
    </div>
  </li>
  <li>
    <div class="inner">
      <h2>
        <strong>品牌故事</strong>
        <span>a story</span>
      </h2>
      <%= image_tag "data:image/gif;base64,R0lGODlhAQABAIAAAP7" %>
      <p>
        朴素和奇妙的灵感，往往创造出永恒。 <br>
        不同系列，同一份精致。 <br>
        你想要的，这里都有。
      </p>
    </div>
  </li>
</ul>