<h1 class="pageHeader">
  <strong>
    PRODUCTS
    <small>产品展示</small>
  </strong>
  <i>
    <span class="pageHeader_breadcrumb">
      <a href="#">首页</a> - 产品展示
    </span>
    Series
    <small>系列分类</small>
  </i>
</h1>