<%= render partial: "page_header", locals: { 
  title: { zh: "产品展示", en: "PRODUCTS" }, 
  sub_title: { zh: "细节展示", en: "Show" },
  breadcrumb: { "产品展示" => "" }
} %>

<div class="product">
  <div class="box">
    <div class="box_hd">
      <span class="box_hd_shadow"></span>
      自在空间-卧室组合A
    </div>
    <div class="box_bd" style="padding: 0;">
      <%= image_tag 'senda/1.jpg' %>
    </div>
  </div>

  <div class="product_info">
    <div class="product_info_title">
      <div class="inner">
        <p class="product_info_title_zh">
          产品 <br>介绍
        </p>
        <p>自在空间-卧室组合A</p>
        <p class="product_info_title_en">
          Product <br>Show
        </p>
      </div>
    </div>
    <div class="product_info_desc">
      <div class="inner">
        <strong>产品简介</strong> <br>
        <p>
          去繁就简的设计，柔软舒适的质感，雅致经典的用色，书写了一份温良宽厚的气韵，织就了一种温和平静的居室氛围，让您可以自由的舒展身心，释放心灵，为生活增添一份别致的温暖与感动！
        </p>
      </div>
    </div>
    <div class="product_info_data">
      <div class="inner">
        <strong>组合包含产品</strong> <br>
        <p>
          床：2013M-B5-200-21  2195*2300*950mm <br>
          套几：2013T-TT5-1  465*435*400mm <br>
          套几：2013T-TT5-2 594*488*500mm
        </p>
      </div>
    </div>
  </div>
</div>