<div class="m_selectCity">
  <ul>
    <li><span>四川</span></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><span>四川</span></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
    <li><a href="#">重庆</a></li>
  </ul>
</div>