<ul class="m_selectShop">
  <li>
    <div class="imgContainer">
      <img src="" alt="">
    </div>
    <p class="m_shop_desc">
      本馆地址：安徽省安庆市华中路大发宜景城6、7、8号（人民路小学碧桂园分校向东300米，碧桂园迎江御墅大门口对面） <br>
      营业时间：9:00-21:00 <br>
      交通：3路、12路
    </p>
    <a href="tel:0556-5540900" class="m_button">联系电话: 0556-5540900</a>
  </li>
</ul>

<% content_for :page_header, "成都金牛区体验店" %>