<h2 class="sw_stitle">
  <a href="#" class="more">更多 &raquo;</a>
  产品资讯
</h2>
<ul class="sw_list">
  <li> <a href="#"> 中小甜品店有何优势 </a></li>
  <li> <a href="#"> 茗记甜品店如何做好卖场管理 </a></li>
  <li> <a href="#"> 接手转让甜品店应该注意哪些 </a></li>
  <li> <a href="#"> 茗记甜品店怎么衡量品牌形象 </a></li>
  <li> <a href="#"> 茗记甜品店需知八条定律 </a></li>
  <li> <a href="#"> 茗记甜品店领导者怎么提升凝聚 </a></li>
</ul>