<div class="row">
  <div class="col-sm-9">
    <ol class="breadcrumb">
      <li><a href="#">主页</a></li>
      <li><a href="#">资讯</a></li>
      <li class="active">甜品管理者需要具备怎样的思维</li>
    </ol>
    <article class="sw_articled">
      <h1 class="sw_artilce_title">
        甜品管理者需要具备怎样的思维
      </h1>
      <p class="sw_articled_meta">
        <span>2013-10-12</span>
        <span>作者：admin</span>
      </p>
      <section>
        <div class="sw_articled_thumb">
          <%= image_tag "sweet/0140_foodsense.jpg" %>
        </div>
        <div class="sw_articled_content">
          <p>思维模式的重要，甜品店有好的甜品产品但没有好的营销模式，就好像鞋子，是用来保护脚，至于该怎么走，往哪走还是要靠大脑来决定，如果脑子是没有好的思维模式，穿再好的鞋也走很难走出康庄大道。</p>
          <p>一般的我们都是考虑自己，如A和B在沟通中，A对B说你一定诚信。B也是对A这样说。但是真的在生活中，其实自己答应对方的事情都没做到，但是还要求对方讲诚信。A考虑偏向自己，B考虑也偏向自己。这就是一思维模式。一思维模式用到商业中，商家想赚顾客的钱；顾客想少花钱甚至不花钱买到商品。商家和顾客都是一思维模式很难成交。</p>
          <p>其次是A和B在沟通时都替对方考虑，就会有不同。A和B都开车，但是前方只有一条马路，A谦让让B先走；B也谦让让A先走。但是这样都一起谦让也不会有冲突，但是都停在这里不走，也让后面的车谁也无法通过。这是二思维模式。二思维模式用到商业中，商家想不赚顾客钱，都免费赠送；顾客想一定要让商家赚钱，把身上的钱都给商家，商家还不要，是很好，但是最后也很难成交。</p>
          <p>再次A和B在沟通能考虑对方后情况下在考虑，又有不同。A和B也开车，但是前方只有一条马路，A和B会互相谦让一下，他们之后各能知道对方要表达什么意思，自然会有一方提前鸣笛一声，鸣笛的就会先走，后者也自然知道，在随后走。这是三思维模式。三思维模式用到商业中，商家会打出促销活动买100送100或100送200等等，顾客想这样不错。商家可以盈利，顾客也不吃亏甚至也能赚钱。</p>
          <p>这就是思维模式的变化让事业也跟着变化。这里笔者只是简单介绍了一思维、二思维、三思维，还有四思维、五思维、六思维这样会让我们看到更不同的世界。思维模式可以用在生活中，也可以用在甜品店的商业活动中。</p>
        </div>
      </section>

      <div class="sw_articled_ft">
        <div class="pull-right">
          <%= render "sweet/jiathis" %>
        </div>
        <p>本文出自xxxx，转载时请注明出处</p>
      </div>
    </article>

    <ul class="sw_articleRelated">
      <li> <a href="#"> 中小甜品店有何优势 </a></li>
      <li> <a href="#"> 茗记甜品店如何做好卖场管理 </a></li>
      <li> <a href="#"> 接手转让甜品店应该注意哪些 </a></li>
      <li> <a href="#"> 茗记甜品店怎么衡量品牌形象 </a></li>
      <li> <a href="#"> 茗记甜品店需知八条定律 </a></li>
      <li> <a href="#"> 茗记甜品店领导者怎么提升凝聚 </a></li>
    </ul>
  </div>
  <div class="col-sm-3">
    <%= render "sweet/articles" %>
  </div>
</div>