<h2 class="sw_pageHeader">
  关于我们
</h2>

<div class="sw_box">
  <dl class="sw_dl">
    <dt>总部</dt>
    <dd>广东省广州市珠江新城华夏路28号富力盈信大厦8楼</dd>
    <dt>QQ</dt>
    <dd>8455125875</dd>
    <dt>电话</dt>
    <dd>13812215511</dd>
    <dt>分公司</dt>
    <dd>...</dd>
  </dl>
</div>