
<%= image_tag "sweet/page-header.jpg", class: "img-responsive sw_pageBanner" %> 

<div class="row">
  <div class="col-sm-3">
    <h2 class="sw_stitle first">
      产品分类
    </h2>
    <ul class="sw_listmenu">
      <li><a href="#">西米</a></li>
      <li class="active"><a href="#">中式甜品</a></li>
      <li><a href="#">饮品</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <%= render "sweet/products" %>
    <%= render "sweet/pagination" %>
  </div>
</div>