
<%= image_tag "sweet/page-header.jpg", class: "img-responsive sw_pageBanner" %> 

<div class="row">
  <div class="col-sm-3">
    <h2 class="sw_stitle first">
      产品分类
    </h2>
    <ul class="sw_listmenu">
      <li><a href="#">凉粉系列</a></li>
      <li><a href="#">吨品系列</a></li>
      <li class="active"><a href="#">汤丸系列</a></li>
      <li><a href="#">果盘系列</a></li>
      <li><a href="#">芝麻糊系列</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <%= render "sweet/products" %>
  </div>
</div>